
nav {
    background-color: #0077BE;
    /*margin-bottom: 5%;*/
}
.content {
    float: left;
    padding: 1.875em;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 5%;
    padding-top: 3%;
}
.card {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    border: 0px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    background-color: #F1F1F1;
    margin-right: 10%;
    margin-left: 10%;

}

.Container {
    padding: 3%;
    margin-bottom: 3%;
    background-color: #F1F1F1;
    margin: 0 auto;
}

.Nav-menu {
    padding: 5%;
    background-color: #106EA9;
    margin: 0 auto;

}

.jumbotron {
    background-image: url("https://solpetroleum.wpengine.com/wp-content/uploads/2017/04/joinourteam.jpg");

    background-size: cover;
    padding-top: 200px !important;
    padding-bottom: 90px !important;
    color: #fff;

}

.nav-item a {
    background-color: #0077BE;
    color: white;
}

a {
    color: #0077BE;
}

.btn-secondary a {
    color: white;
}
.dropdown-menu.show {
    border-color: #0077BE;
    padding: 0PX;
    margin: 0px;
}

.job {
    background-color: #F1F1F1;

}

.job-descript {
    margin-left: 5%;
}
.menu-horizontal {
    margin-bottom: 3%;
    text-align: center;
    background-color: #DA8020;
    width: 100%;
}

.menulink {
    background-color: #DA8020;
    color: white;
}
.step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}
.step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}
.step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}
.step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}
.step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}
.btn_remove{
    margin-bottom: 10px;
}
