body{
	background: url("rawpixel-983726-unsplash.jpg") no-repeat center center;
	-webkit-background-size: 100% auto;
  	-moz-background-size: 100% auto;
  	-o-background-size: 100% auto;
    	background-attachment: fixed;
    	background-size: 100% auto;
	color: white;
	/*font-family: "HelveticaNeueLTStd-Lt";*/
	font-family: monserrat-regular, sans-serif;
	font: bold;
	font-weight: 400;
	margin: 0 auto;
}
html{
	height: 100%;
}
.container{
	/*margin-top: 10%;
	margin-bottom: 10%;*/
	background-color: rgba(0,119,190,.8);
	border-radius: 3%;
	padding: 50px;
	font-size: 14pt;
	margin-bottom: 10%;
}
a{
	
	color: white;
}
img{
	border-radius: 3px;
	height: auto;
	max-width: 100%;
	display: block;
	vertical-align: middle;
}
#navbarSupportedContent{
padding-left: 10%;
}
nav{
	background-color: rgba(0,119,190,.3);
	margin-bottom: 5%;
}
.btn{
	background-color: #F77E00;
	color: white;
	margin-bottom: 5%;
}
.tcontainer{
	/*margin-top: 35%;
	margin-bottom: 35%;*/
	padding: 10%;
	background-color: white;
	box-sizing: border-box;
	font-family: "Tahoma-Bold";
	border-radius: 3%;
	margin-bottom: 10%;
}

#titleCont{
	color:#0080C1;
	font-size: 28px;
	line-height: 44px;
	margin: -10px 0 10px;
	text-transform: inherit;
	font-weight: 700;


}

.text{
	color: black;
}
.row{
	display: flex;
}
.container-block{
	margin: 0 auto;
	width: 40%;
	max-width: 1160px;
	padding: 0 15px;
}
/*.container-block{
	margin: 0 auto;
}*/
#btnGuest{
	background-color: #043F75;
	color: white;
	margin-bottom: 5%;
}
