.left-panel{
	height: 75vh;
	padding: 0;
	margin-bottom: 10%;
	vertical-align: top;
	width: 280px;
	box-shadow: 1px 0 20px rgba(0,0,0,0.08);
	position: fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	z-index: 999;
	margin-top: 2%;
}

.right-panel{
	margin-left: 280px;
	margin-top: 55px;

}
.blue {
    background-color: rgba(0,119,190,.3);
    width: 100%;
    border-radius: 15px;
   }

.content{
	float: left;
	padding: 1.875em;
	width: 100%;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

}


.card{
	margin-bottom: 1.875em;
	border-radius: 5px;
	padding: 0;
	border: 0px solid transparent;
	box-shadow: 0 0 20px rgba(0,0,0,0.08);
	background-color: #F1F1F1;

}
.Container{
	padding: 3%;
	margin-bottom: 3%;
	background-color: #F1F1F1;

}
#header{
	/*background: rgba(0,128,190,1);
	background: rgba(0,119,190,.3);
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;*/

	position: fixed;
	left: 0px;
	right: 0px;
	width: 100%;
	top: 0px;
	z-index: 999;


}
#menu{
	padding-left: 5%;
}
#pricing{
	padding-left: 8%;
}
nav{
	background-color: #0077BE;
}

.nav-link:active{
    background-color: #0077BE;
}
.item{
	color: white;
	text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {

    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

