@charset "UTF-8";
/* CSS Document */

.main-container{
	padding: 3%;
    margin-bottom: 3%;
    background-color: #F1F1F1;
}
.content-home-hr {
    /*float: left;*/
    padding: 1.875em;
    margin-top:5%;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
