body{
    overflow-x: hidden;
}
.login-page, .register-page {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/back-initial.jpg') no-repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-attachment: fixed;
    background-size: 100% auto;
}

.login-box-body, .register-box-body {
    background-color: rgba(0, 119, 190, .8);
    border-radius: 3%;
    padding: 50px;
    font-size: 14pt;
    margin-bottom: 10%;
    color: white;
}

.login-box-body a, .register-box-body a {
    color: white;
}

.login-box-body button, .register-box-body button {
    background-color: #F77E00;
    color: white;
}

.main-sidebar {
    background-color: #0077BE !important;
}

.user-panel.user-side {
    height: 40px !important;
}

.skin-blue .sidebar a {
    color: #fff !important;
}

.skin-blue .wrapper {
    background-color: #0077be !important;
}

.skin-blue .main-header .navbar {
    background-color: rgb(0, 43, 92) !important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

.skin-blue .sidebar-menu > li.active > a {
    background: rgb(247, 143, 30) !important;
}

.inner-banner {

    background: #0077be url('https://solpetroleum.wpengine.com/wp-content/uploads/2017/04/joinourteam.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 90px;
    position: relative;

}

.inner-banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0077be;
    opacity: .45;
}

.has-dot-pattern:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(//solpetroleum.com/wp-content/themes/wefinance/img/texture/dot.png) 0 0 repeat;
}

.inner-banner .container {
    position: relative;
    z-index: 2;
}

.inner-banner h2 {
    text-transform: uppercase !important;
    font-size: 36px !important;
    font-family: montserrat-bold, sans-serif !important;
    line-height: 70px;
    color: #fff;
}

.inner-banner p {
    color: #fff;
    font-family: "droid serif", serif;
    font-size: 18px;
    line-height: 26px;
}

.row-home {
    padding-top: 0% !important;
}

.media-placement{
    background-color: #0077be;
    color: white;
}

.cc-selector input{
    margin-top: 200px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}
.blue{background-image:url(https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Formhttps://paradigmassociates.s3.us-east-2.amazonaws.com/500x500.jpg);}
.ph1{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_9.jpg");}
.ph2{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_6.jpg");}
.ph3{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_12.jpg");}
.ph4{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_7.jpg");}
.ph5{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_2.jpg");}
.ph6{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_10.jpg");}
.ph7{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_4.jpg");}
.ph8{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_11.jpg");}
.ph9{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_1.jpg");}
.ph10{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_8.jpg");}
.ph11{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_5.jpg");}
.ph12{background-image:url("https://paradigmassociates.s3.us-east-2.amazonaws.com/SOL/HR/Image+select+Apply+Form/images/Numbered-Pics_3_3.jpg");}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;height:200px;border: 3px blue;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
.navbar-toggler{
    border: 1px solid white;
    border-radius: 0.25rem;
    background-image: url(../images/buton.png);
    background-repeat:no-repeat;
    height:50px;
    width:60px;
    margin: 0px;
    background-size: 50px 50px;
    background-position:center;
}
