nav{
	background-color: #0077BE;
	margin-bottom: 5%;
}
a{
	color: white;
}
.content{
    width: 100%;
    padding: 1.875em;
}
.dot{
	  height:15px;
	  width:15px;
	  background-color:red;
	  border-radius:50%;
	  display:inline-block;
}
.jumbotron{
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	margin-top: 2%;

}
.returnbutton{
    margin-left:5%;
}
.jdescript{
	padding-left: 5%;
	padding-right: 5%;
}
.heading{
	background-color: #E4ECED;
	/*padding: 10px;*/
	font-size: 14pt;
	margin-right: 8px;
	padding-top:8px ;
	padding-left: 10px;
	padding-bottom:8px ;
	padding-right:28px ;
}
li{
	margin-bottom: 11px;
	margin-top: 11px;
	margin-right: 5px;
}
.jdescript{
	margin-top: 3%;
}
#hsum{
	margin-left: 15px;
	margin-bottom: 20px;
}
#jsummary{
	margin-bottom: 20px;
}
.eduhead{
	font-size: 14pt;
	padding-right:12px;

}
#btnapply{
	text-align: center;
	margin-top:5%;
	margin-bottom: 5%;
}

